## Final Project Submission

Please fill out:
* Student name: SHADRACK CHERUIYOT
* Student pace: DSF-PT02
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
#Importing the necessary extensions
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#studying various Datasets
#"I will examine various datasets in the following codecells below"

In [26]:
###Dataset 1 - "bom.movie_gross.csv"
df1 = pd.read_csv('bom.movie_gross.csv')
df1_len = str(len(df1))
print("The dataset has " + df1_len + " rows")
print(df1.head())

The dataset has 3387 rows
                                         title studio  domestic_gross  \
0                                  Toy Story 3     BV     415000000.0
1                   Alice in Wonderland (2010)     BV     334200000.0
2  Harry Potter and the Deathly Hallows Part 1     WB     296000000.0
3                                    Inception     WB     292600000.0
4                          Shrek Forever After   P/DW     238700000.0

  foreign_gross  year
0     652000000  2010
1     691300000  2010
2     664300000  2010
3     535700000  2010
4     513900000  2010

In [27]:
#Dataset 2 - "title.basics.csv"
df2 = pd.read_csv('title.basics.csv')
df2_len = str(len(df2))
print("The dataset has " + df2_len + " rows")
print(df2.head())

The dataset has 146144 rows
      tconst                    primary_title              original_title  \
0  tt0063540                        Sunghursh                   Sunghursh
1  tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
2  tt0069049       The Other Side of the Wind  The Other Side of the Wind
3  tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
4  tt0100275         The Wandering Soap Opera       La Telenovela Errante

   start_year  runtime_minutes                genres
0        2013            175.0    Action,Crime,Drama
1        2019            114.0       Biography,Drama
2        2018            122.0                 Drama
3        2018              NaN          Comedy,Drama
4        2017             80.0  Comedy,Drama,Fantasy

In [35]:
#Dataset 3 - "tmdb.movies.csv"
df3 = pd.read_csv('tmdb.movies.csv', index_col=0)
df3_len = str(len(df3))
print("The dataset has " + df3_len + " rows")
print(df3.head())

The dataset has 26517 rows
             genre_ids     id original_language  \
0      [12, 14, 10751]  12444                en
1  [14, 12, 16, 10751]  10191                en
2        [12, 28, 878]  10138                en
3      [16, 35, 10751]    862                en
4        [28, 878, 12]  27205                en

                                 original_title  popularity release_date  \
0  Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                      How to Train Your Dragon      28.734   2010-03-26
2                                    Iron Man 2      28.515   2010-05-07
3                                     Toy Story      28.005   1995-11-22
4                                     Inception      27.920   2010-07-16

                                          title  vote_average  vote_count
0  Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                      How to Train Your Dragon           7.7        7610
2                                    Iron Man 2           6.8       12368
3                                     Toy Story           7.9       10174
4                                     Inception           8.3       22186

In [39]:
#Dataset 4 - "tn.movie_budgets.csv"
df4 = pd.read_csv('tn.movie_budgets.csv', index_col=0)
df4_len = str(len(df4))
print("The dataset has "+ df4_len+ " rows")
df4.head()

The dataset has 5782 rows

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"